@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif;
}

@theme {
  --breakpoint-sm: 750px;
}

@theme {
  --breakpoint-sm2: 580px;
}
@theme{
  --breakpoint-md2: 850px;
}

#root {
  z-index: -99;
  position: absolute;
}

html, body{
    scrollbar-width: none; /* Firefox */

}

body {
  overflow-x: hidden;
  background-color: #141414;
}

.links {
  @apply text-[14px] md:text-[16px] font-normal px-5 rounded-md py-2;
}

.active {
  background-color: black;
  color: white;
}

.customBg {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("/images/heroImg.png");
}

.cardCustomBg {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
}

li {
  display: none;
}


/* various devices custom shadows and color */

.customGradientColor {
  background: linear-gradient(50deg, #0f0f0f 60%, #150000 130%, #ff0000 50%);
  transition: all 0.4s;
  z-index: 9;
  position: relative;
  overflow-x: hidden;
}
.customGradientColor2 {
  background: linear-gradient(50deg, #0f0f0f 60%, #150000 130%, #ff0000 50%);
  transition: all 0.4s;
  z-index: 9;
  position: relative;
  overflow-x: hidden;
}
.customGradientColor:hover {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.582);

}

.customGradientColor::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #e50000c5 ;
  z-index: -9;
  transition: all .4s;
}

.customGradientColor:hover::before{
  width: 100%;
}

/* carousel arrow animation */


.carouselArrowEffect{
  position: relative;
  z-index: 9;
  overflow-x: hidden;
}
.carouselArrowEffect::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #e50000c5;
  transition: all 0.4s;
  z-index: -9;
}

.carouselArrowEffect:hover::before{
  height: 100%;
}

.slick-slider {
  touch-action: pan-y !important;
}


/* make a custom btn hover effect */

.customBtnHoverEffect{
  position: relative;
  z-index: 9;
  overflow-x: hidden;
}
.customBtnHoverEffect::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: rgb(66, 65, 65);
  transition: all 0.4s;
  z-index: -9;
}

.customBtnHoverEffect:hover::before{
  height: 100%;
}

/* custom gradient color for bottom section */
.bottomGradient{
 background: 
  linear-gradient(35deg, rgba(7, 7, 7, 0.5), rgba(92, 16, 16, 0.5)),
  url("/images/heroImg.png");

}

/* add footer hover effect */
.footerHoverEffect{
  position: relative;
  transition: all .4s;
}
.footerHoverEffect::before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 0;
  height: 100%;
  border-bottom: 1px solid #ff0000;
  transition: all .4s;
}

.footerHoverEffect:hover::before{
  width: 100%;
}

/* movies & shows section */


/* make shadow in first movie view */
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,1), transparent);
  
} 
.overlay2 {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(24, 23, 23, 0.692), transparent);
  
} 